<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Covid-19 Detector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="about">AboutUs</a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    

    <div class="card bg-dark text-white">
      <img src="static/covid.jpg" style="
      height:370px" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title" style="color: black;">Covid-19 Detector Model</h5>
        <p class="card-text"style="color: black;">This is the MachineLearning model is used to find out whom to test for the infection first under a limited testing capacity</p>
        <p class="card-text"style="color: black;">Check your Probability</p>
      </div>
    </div>
    

 <div class="container">
   <h2 class="text-center mt-3">CoronaVirus Probability Detector</h2>

   <form action="/" method="POST">
    <div class="form-group">
      <label for="fever">Enter fever Value</label>
      <input type="text" class="form-control" id="fever" , name='fever' placeholder="Please Enter Temp">
    </div>
    <div class="form-group">
      <label for="age">Enter Age</label>
      <input type="text" class="form-control" id="age"  name='age' placeholder="Enter Age">
    </div>
      
    <div class="from-group">

      <label for="pain">Body pain</label>
      
      <select  class="form-control custom-select" id="pain" name="pain">
        <option value="1">No pain</option>
        <option value="0">Severe pain</option>
        
        
      </select>
    
    </div>
    
    <div class="form-group">
      <label for="runnyNose">Runny Nose</label>
      <select  class="form-control custom-select" id="runnyNose" name="runnyNose">
        <option value="1">Yes</option>
        <option value="0">No</option>
        
        
      </select>
    </div>

    <div class="form-group">
      <label for="diffBreath">Breathing Difficulty</label>
      <select  class="form-control custom-select" id="diffBreath" name="diffBreath">
        <option value="-1">No Difficulty</option>
        <option value="1">Little Difficulty</option>
        <option value="0">Severe Difficulty</option>
        
      </select>
    </div>

    <div class="text-center">

      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
     
  </form>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>